<div class="em-nav-menu">
    <mat-toolbar class="em-nav-menu__toolbar" color="primary">
        <mat-toolbar-row class="em-nav-menu__toolbar-row">
          <h1>EM Solutions</h1>
          <span class="menu-spacer"></span>
          <div>
            <a mat-button [routerLink]="'/'"> Home </a>
            <a mat-button [routerLink]="'/employees'"> Employees </a>
            <a mat-button href="https://localhost:5000/swagger"> Admin </a>
          </div>
        </mat-toolbar-row>
      
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav>
            <mat-nav-list class="sidenav-list">
        
                <a mat-list-item [routerLink]="'/'"> Home </a>
                <a mat-list-item [routerLink]="'/employees'"> Employees </a>
                <a mat-list-item href="https://localhost:5000/swagger"> Admin </a>
                <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <em-page-toolbar [sidenav]="sidenav"></em-page-toolbar>

            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <em-files-tree></em-files-tree>
                    </div>
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div> 
                </div>       
            </div>
        </mat-sidenav-content>
        
    </mat-sidenav-container>
</div>