<mat-tree class="em-tree" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <mat-icon color='primary' class="mat-icon-rtl-mirror">
            description
        </mat-icon>
        <a href="https://localhost:5000/api/v1/Files?fileName={{node.name}}" class="em-tree__link" target="_blank" rel="noopener">
            {{node.name}}
        </a>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon color='primary' class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
            </mat-icon>
        </button>
        {{node.name}}
    </mat-tree-node>
</mat-tree>