.em-page-toolbar {
    display: flex;
    background-color: #e91e63;
    position: relative;
    z-index: 10;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;

    .icon-button {
        display: flex;

        margin-right: 10px;

        .icon {
            margin: auto;
            top:auto;
            left: auto;
            right: auto;
            font-size: 40px;
        }
    }

    .text {
        font-weight: bold;
    }

    .white {
        letter-spacing: normal;
        color: white;
    }
}